<!DOCTYPE html>
<html lang="en">
  
<head>
  <title><%= lang_data.State %></title>
    <%- include('./partials/meta'); -%>
  </head>
  <body>
    <%- include('./partials/header_sidebar'); -%> 

        <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-sm-6">
                  <h3><%= lang_data.State %></h3>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item"><a href="/settings/states"><%= lang_data.List_Of_State %></a></li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row">
             
              <!-- Scroll - vertical dynamic Starts-->
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header pb-0 d-flex justify-content-between">
                    <h4><%= lang_data.List_Of_State %></h4>
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#states_toggle"><%= lang_data.Add_New_State %></button>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive theme-scrollbar">
                      <table class="display" id="basic-12" aria-label="table">
                        <thead>
                          <tr>
                            <th id="abc" class="d-none"></th>
                            <th id="abc"><%= lang_data.Country_Name %></th>
                            <th id="abc"><%= lang_data.State_Name %></th>
                            <th id="abc"><%= lang_data.Action %></th>
                          </tr>
                        </thead>
                        <tbody>
                          <% states_data.forEach((data) => { %>

                            <tr>
                              <td class="d-none"></td>
                              <td><%= data.countries_name %></td>
                              <td><%= data.state_name %></td>
                              <td> 
                                <ul class="action"> 
                                  <li class="edit"> <a data-bs-toggle="modal" data-bs-target="#edit_states_toggle" id="states_modal" data-id="<%= data.id %>" data-countries="<%= data.countries_id %>" data-state="<%= data.state_name %>"><i class="icon-pencil-alt"></i></a></li>
                                  <li class="delete"><a href="/settings/states/delete/<%= data.id %>"><i class="icon-trash"></i></a></li>
                                </ul>
                              </td>
                            </tr>
                          <% }) %>
                          
                        </tbody>
                        <tfoot>
                          <tr>
                            <th id="abc" class="d-none"></th>
                            <th id="abc"><%= lang_data.Country_Name %></th>
                            <th id="abc"><%= lang_data.State_Name %></th>
                            <th id="abc"><%= lang_data.Action %></th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Scroll - vertical dynamic Ends-->
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>


        <!-- add states modal-->
      
        <div class="modal fade" id="states_toggle" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"><%= lang_data.Add_New_State %></h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form action="/settings/states" method="post">
                <div class="modal-body">
                  <div class="row g-3">
                    
                    <div class="col-12">
                      <div class="col-form-label"><%= lang_data.Country_Name %></div>
                        <select class="js-example-basic-single" name="countries_id" required>
                            <option value selected disabled>Select Country</option>
                            <% countries_data.forEach((data) => { %>
                            <option value="<%= data.id %>"><%= data.countries_name %></option>
                            <% }) %>
                        </select>
                    </div>
    
                    <div class="col-12">
                      <label class="form-label"><%= lang_data.State_Name %></label>
                      <input class="form-control" type="text" name="state_name" placeholder="Enter State Name" required>
                    </div>
    
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"><%= lang_data.Close %></button>
                  <button class="btn btn-primary" type="submit"><%= lang_data.Save_changes %></button>
                </div>
              </form>
            </div>
          </div>
        </div>
  
        <!-- edit states modal-->
  
        <div class="modal fade" id="edit_states_toggle" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"><%= lang_data.Edit_State %></h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form id="state_id" method="post">
                <div class="modal-body">
                  <div class="row g-3">
                    
                    <div class="col-12">
                      <div class="col-form-label"><%= lang_data.Country_Name %></div>
                        <select class="js-example-basic-single" name="countries_id" id="countries_id" required>
                            <option value selected disabled>Select Country</option>
                            <% countries_data.forEach((data) => { %>
                            <option value="<%= data.id %>"><%= data.countries_name %></option>
                            <% }) %>
                        </select>
                    </div>
                    
                    <div class="col-12">
                      <label class="form-label"><%= lang_data.State_Name %></label>
                      <input class="form-control" type="text" name="state_name" id="state_name" placeholder="Enter State Name">
                    </div>
                    
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"><%= lang_data.Close %></button>
                  <button class="btn btn-primary" type="submit"><%= lang_data.Save_changes %></button>
                </div>

              </form>
            </div>
          </div>
        </div>

        
        <%- include('./partials/footer'); -%>
        
    <%- include('./partials/script'); -%>

  </body>

</html>