<!DOCTYPE html>
<html lang="en">
  
<head>
  <title><%= lang_data.Weight_units %></title>
    <%- include('./partials/meta'); -%>
  </head>
  <body>
    <%- include('./partials/header_sidebar'); -%> 

        <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-sm-6">
                  <h3><%= lang_data.Weight_units %></h3>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index"><i data-feather="home"></i></a></li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row">
             
              <!-- Scroll - vertical dynamic Starts-->
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header pb-0 d-flex justify-content-between">
                    <h4> <%= lang_data.List_Of_Weight_Units %> </h4>
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#units_toggle"> <%= lang_data.Add_New_Units %></button>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive theme-scrollbar">
                      <table class="display" id="basic-12" aria-label="table">
                        <thead>
                          <tr>
                            <th id="abc" class="d-none"></th>
                            <th id="abc">#</th>
                            <th id="abc"><%= lang_data.Length_Units_Name %></th>
                            <th id="abc"><%= lang_data.Action %></th>
                          </tr>
                        </thead>
                        <tbody>
                            <% var i = 1 %>
                            <% weight_units_data.forEach((data) => { %>
                                <tr>
                                    <td class="d-none"></td>
                                    <td><%= i %></td>
                                    <td class="text-uppercase"><%= data.unit_name %></td>
                                    <td> 
                                        <ul class="action"> 
                                            <li class="edit"> 
                                                <a data-bs-toggle="modal" data-bs-target="#edit_units_toggle" id="weight_units_modal" data-id="<%= data.id %>" data-name="<%= data.unit_name %>">
                                                    <i class="icon-pencil-alt"></i>
                                                </a>
                                            </li>
                                            <li class="delete">
                                                <a href="/settings/weight_units/delete/<%= data.id %>"><i class="icon-trash"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            <% i++ %>
                            <% }) %>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th id="abc" class="d-none"></th>
                            <th id="abc">#</th>
                            <th id="abc"><%= lang_data.Length_Units_Name %></th>
                            <th id="abc"><%= lang_data.Action %></th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Scroll - vertical dynamic Ends-->
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>


        <!-- add countries modal-->
        
        <div class="modal fade" id="units_toggle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"><%= lang_data.Add_New_Units %></h5>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/settings/weight_units" method="post">
                  <div class="modal-body">
                    <div class="row g-3">

                      <div class="col-12">
                        <label class="form-label"><%= lang_data.Unit_Name %></label>
                        <input class="form-control text-uppercase" type="text" name="unit_name" placeholder="Enter Unit Name">
                      </div>

                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"><%= lang_data.Close %></button>
                    <button class="btn btn-primary" type="submit"><%= lang_data.Save_changes %></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
  
          <!-- edit countries modal-->
  
          <div class="modal fade" id="edit_units_toggle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"><%= lang_data.Edit_Units %></h5>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="weight_units_modal_from" method="post">
                  <div class="modal-body">
                    <div class="row g-3">

                      <div class="col-12">
                        <label class="form-label"><%= lang_data.Unit_Name %></label>
                        <input class="form-control text-uppercase" id="weight_units_modal_name" type="text" name="unit_name" placeholder="Enter Unit Name">
                      </div>

                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"><%= lang_data.Close %></button>
                    <button class="btn btn-primary" type="submit"><%= lang_data.Save_changes %></button>
                  </div>
                </form>
              </div>
            </div>
          </div>

        
        <%- include('./partials/footer'); -%>
        
    <%- include('./partials/script'); -%>

  </body>

</html>